<h1>These are all the entries in group <%= @group.name %></h1>
<small><em>Total in this category is: <strong>$<%= @group.total_payments %></strong></em></small>

<%= link_to 'Back to groups', groups_path %>

<% @entries.each do |entry| %>
  <div class="card">
    <h2><%= entry.name %></h2>
    <p><%= entry.author.name %> payed $<%= entry.amount %></p>
  </div>
<% end %>

<%= link_to 'Add new transaction', new_group_entry_path(@group), data: { turbo: false } %>
