<section id="entries_index">
  <%= render 'shared/navbar', backButtonLink: groups_path, sectionTitle: "#{@group.name} ($#{@entries.sum(:amount)})", additionalLink: nil %>
  
  <div id="card-container">
    <% @entries.each do |entry| %>
      <div class="card">
        <h2><%= entry.name %></h2>
        <p><%= entry.author.name %> payed</p>
        <span>$<%= entry.amount %></span>
      </div>
    <% end %>
  </div>

  <div class="btn-container">
    <%= link_to 'Add new transaction', new_group_entry_path(@group), data: { turbo: false }, class: 'btn-add-entry' %>
  </div>
</section>
