<p>This is the index page for Groups</p>

<p>Number of Groups: <%= @groups.count %></p>

<%= link_to 'Create a new Group', new_group_path %>

<% @groups.each do |group| %>
  <div class="card">
    <h2><%= link_to group.name, group_entries_path(group) %> ($<%= group.total_payments %>)</h2>
    <%= image_tag group.icon_thumbnail, style: 'border-radius: 1rem;' %>
  </div>
<% end %>
